{
  "@type": "oa:Annotation",
  "motivation": "sc:painting",
  "resource":{
    "@id": "{{&url}}/{{&collectionName}}/html-annotation/{{&path}}",
    "@type": "dctypes:Text",
    "label": "{{label}}",
    "format": "text/html",
    "chars":"{{html}}"
  },
  "on": "{{&url}}/{{&collectionName}}/canvas/{{&path}}{{&resultAreaHash}}"
}