{
  "@context": "http://iiif.io/api/presentation/2/context.json",
  "@id": "{{&url}}/{{&collectionName}}/canvas/{{&path}}",
  "@type": "sc:Canvas",
  "label": "{{imageName}}",
  "height": {{height}},
  "width": {{width}},
  "thumbnail" : {
    "@id" : "{{&iiifImagesURL}}/{{&imagePath}}/full/!{{thumbnailWidth}},{{thumbnailHeight}}/0/default.jpg",
    "@type": "dctypes:Image",
    "height": {{thumbnailHeight}},
    "width": {{thumbnailWidth}}
  },
  "images": [
    {{#image}}{{> image}}{{/image}}
  ],
  "otherContent": [
    {{#annotationLists}}{{> annotationList}}{{/annotationLists}}
  ]
}